.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    position: relative;
    grid-template-columns: 560px 440px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;

    &__interactive {
        // padding-left: 40px;
        min-width: 360px;
        min-height: 590px;
        left: 55%;
        position: fixed;
        top: calc((100vh / 2) - 590px / 2);
    }
}